<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - kavenegar</title>
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="@Url.Action("Index","Home")">خانه</a>
    </header>
    @RenderBody()
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
        <p class="mb-0 text-body-secondary">
            Power By <a href="https://lightcompany.ir">LightCompany</a>
        </p>
    </footer>
    <script src="~/Scripts/jquery-3.7.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
